.encabezado { 
    @include encabezado;
    
.titulo{
    text-align: map-get($mapaTitulo, centro);
    font-family: 'Playfair Display', serif;
    font-size:  map-get($mapaTitulo, tFuente);
    padding-left:  map-get($mapaTitulo, izquierda);
    padding-top:  map-get($mapaTitulo, arriba);

}
#nav ul{    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-direction: row;
    list-style-type: none;
padding-top: 65px;
li{
    font-size: 3rem;
    transition: font-size 0.5s;
}
li:hover{
    font-size: 3rem;
}

}
.subrayado {
    text-decoration: none;
    color: #020303;
    font-weight: bold;
    font-size: 3rem;
  padding: 10px;
    margin: 0px;
    
}

}
