.mainalterno{
    background-color: $color-principal;
    margin: 0px;
    display: grid;
    grid-template-columns: 5fr 2fr 0.1fr;
    grid-template-areas:
        "principal principal"
        "nosotros ubicacion";
        .gridnav{
            grid-area: principal;
        }
        .destacados{
            font-family: Open Sans, sans-serif;
            font-size: 5rem;
            text-align: center;
            padding-top: 28px;
            border: 10px;
            text-decoration: none;
        
        }
        .orden{
            padding-left: 20px; 
            display: inline-block;
        position: relative;
        padding-top: 45px;
        }
        img{
            height: 340px;
            transition: height 0.5s;
        
        }
        img:hover{
            height: 370px;
        }
        .alineado{
            text-align: center;
            font-family:'Roboto Condensed', sans-serif;
            font-size: 2.5rem;
        }
        .gridubicacion{
            grid-area: ubicacion;
        }
        .ubicacion{
            text-align: center;
            padding: 30px;
            font-size: 5rem;
            font-family: Open Sans, sans-serif;
        }
        .tabla{
            background-color: #ffffff;
            display: inline-block;
            position: relative;
            font-size: 1.8rem;
            margin-top: 50px;
            }
            th{
                font-size: 1.8rem;
            }
            td{
                font-size: 1.8rem;
            }
            .imgtabla{
                height: 256px;
                transition: height 0.5s;
            }
            .imgtabla:hover{
                height: 300px;
            }
            .gridnosotros{
                grid-area: nosotros;
            
            }
            .nosotros{
                text-align: left;
            padding: 50px;
                font-size: 5rem;
                font-family: Open Sans, sans-serif;
            }
            .h1Footer{
                font-family:'Titillium Web', sans-serif;
                font-size: 2rem;
              padding-left: 25px;
            }
            .contacto{
                margin-right: 0px;
                text-align: center;
                font-size: 5rem;
                border-color: transparent;
            }
            .size{
                font-size: 5rem;
            }

            
        

}
