*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    background-color: #baf5f3;
    margin: 0px;
    display: grid;
    grid-template-columns: 5fr 3fr 0.1fr;
    grid-template-areas:
        "principal principal"
        "ofertas nosotros"
        "ofertas ubicacion";
        

}
.mainalterno{
    background-color: #baf5f3;
    margin: 0px;
    display: grid;
    grid-template-columns: 5fr 2fr 0.1fr;
    grid-template-areas:
        "principal principal"
        "nosotros ubicacion"
        

}
.encabezado {
    background-color: #2cadc4;

    background-image: url(https://us.123rf.com/450wm/nadiinko/nadiinko1706/nadiinko170600018/79388094-camiseta-en-icono-de-suspensi%C3%B3n-logo-de-l%C3%ADnea-de-tienda-de-ropa-signo-plano-para-la-colecci%C3%B3n-de-pre.jpg?ver=6);
background-repeat: no-repeat;
background-size: 180px 200px;
height: 200px;
margin: 0px;
position: sticky;
display: grid;
grid-template-columns: 50% 50%;}
li{
left: 500px;
top: 70px;
   
}
.subrayado {
    text-decoration: none;
    color: #020303;
    font-weight: bold;
    font-size: 30px;
  padding: 10px;
    margin: 0px;
    
}
.titulo{
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    padding-left: 180px;
    padding-top: 50px;
}
.destacados{
    font-family: Open Sans, sans-serif;
    font-size: 50px;
    text-align: center;
    padding-top: 28px;
    border: 10px;
    text-decoration: none;

}
.orden{
    padding-left: 20px; 
    display: inline-block;
position: relative;
padding-top: 45px;

}
.imagen{
    border: 1px;
}
.tabla{
background-color: #ffffff;
display: inline-block;
position: relative;
font-size: 18px;
margin-top: 50px;
}
.footer{
    background-color: #baf5f3;
    margin: 0px;
    padding-top: 100px;
    text-align: center;


}
.h1Footer{
    font-family:'Titillium Web', sans-serif;
    font-size: 20px;
  padding-left: 25px;
}
.nosotros{
    text-align: left;
padding: 50px;
    font-size: 50px;
    font-family: Open Sans, sans-serif;
}
.ofertas{
    font-family:'Roboto Condensed', sans-serif;
    font-size: 25px;
    grid-area: ofertas;

}
.contacto{
    margin-right: 770px;
    text-align: left;
}
.alineado{
    text-align: center;
    font-family:'Roboto Condensed', sans-serif;
    font-size: 25px;
}
.ubicacion{
    text-align: center;
    padding: 30px;
    font-size: 50px;
    font-family: Open Sans, sans-serif;
}


#nav ul{    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-direction: row;
    list-style-type: none;
padding-top: 65px;

}
.gridnav{
    grid-area: principal;
}
.gridnosotros{
    grid-area: nosotros;

}
.gridubicacion{
    grid-area: ubicacion;
}
.gridimagen{
    grid-area: imagen;
    background-color: #baf5f3;
}
.gridderechos{
    grid-area: derechos;
    background-color: #baf5f3;

}
 /*Media Queries*/
 @media screen and (max-width: 1024px){
    #nav ul {
        display: flex;
        justify-content: space-evenly;
        align-items: stretch;
        flex-direction: column;
        list-style-type: none;
        padding-top: 18px;
        text-align: center;
    }
    .titulo {
        text-align: center;
        font-family: 'Playfair Display', serif;
        font-size: 53px;
        padding-left: 272px;
        padding-top: 25px;
    }
    .main {
        grid-template-columns: 5fr 3fr 0.1fr;
        grid-template-areas:
        "principal principal"
        "ofertas ofertas"
        "nosotros ubicacion";

     }
     .mainalterno{
        background-color: #baf5f3;
        margin: 0px;
        display: grid;
        grid-template-columns: 5fr 2fr 0.1fr;
        grid-template-areas:
            "principal principal"
            "nosotros ubicacion";
     }    


}
 @media screen and (max-width: 768px) { 
    
    .main {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
        "principal principal"
        "ofertas ofertas"
        "nosotros ubicacion";

     }
     
     #nav ul {
        display: flex;
        flex-direction: row;
        text-align: start;
        justify-content: left;
        padding-left: 180px;
        padding-top: 69px;


     }
     .subrayado {
         font-size: 20px;
 }
.titulo{
    text-align: right;
    padding-right: 35px;
    padding-top: 0px;
}
.tabla{
    font-size: 15px;
}
.ubicacion{
    padding-top: 50px;
}
.h1Footer{
    font-size: 18px;
}
.encabezado{
    display: flex;
    flex-direction: column;
}
}

 @media screen and (max-width: 425px){
    .main {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
        "principal principal"
        "ofertas ofertas"
        "nosotros ubicacion"
        "footer footer";
        padding-top: 200px;
 }
 .mainalterno{
    background-color: #baf5f3;
    margin: 0px;
    display: grid;
    grid-template-columns: 5fr 2fr 0.1fr;
    grid-template-areas:
        "principal principal"
        "nosotros ubicacion";
        padding-top: 200px;
    }
 .gridnav{
    background-color: #baf5f3;
  }
  .ofertas{
    background-color: #baf5f3;

  }
  .gridnosotros{
    background-color: #baf5f3;

  }
  .gridubicacion{
    background-color: #baf5f3;

  }
  .titulo{
    padding-right: 0px;
    font-size: 42px;
    text-align: center;
    padding-left: 200px;
    padding-top: 17px;
}

.encabezado{
    display: grid;
    grid-template-columns: 375px 375px;
    position: absolute;
}
#nav ul{      display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    padding-left: 85px;
    padding-top: 10px;
    font-size: 31px;
}
.footer{
    display: grid;
    grid-template-columns: 375px 375px;
    grid-template-areas:
        "imagen imagen"
        "derechos derechos";
    padding-top: 0px;
 }
 }